.page-not-found-container {
    display: flex;
    justify-content: center;
}
.page-not-found {
    height: 80vh;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.page-not-found p {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    font-weight: 700;
    color: rgb(255, 71, 71);
}

.page-not-found h1 {
    margin: 0;
}