.formgroup-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.formgroup-input {
    border: 1px solid;
    border-radius: .2rem;
    padding: .5rem 1rem;
    outline: none;
}

.formgroup-input::placeholder {
    text-transform: capitalize;
}

.formgroup-container label {
    color: rgb(8, 82, 202);
    font-weight: 500;
}